$font-family-base: "Poppins",sans-serif;

.title-text{
    margin-top: 35px;
    p{
        color: $admin-black;
        font-size: 15px;
        text-align: center;
    }
}


.reset-btn {
    border-color: $czm-primary;
    color: #FF0000FF;
}
.reset-btn:hover {
    background-color: #FF0000FF;
    border-color: #FF0000FF;
    color: #ffffff;
}

.custom-date-field,
.custom-number-field {
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    color: $czm-primary;
    border-radius: 25px;
    background-color: #fff;
    border: 1px solid $czm-primary;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.hoverable-card{
    transition: transform 0.3s ease-in-out;
    &:hover {
        transform: scale(1.01);
    }
}

.card{
    font-family: $font-family-base;
    border-radius: 0;
    padding: 10px;
    @media (max-width: 767px) {
        padding: 0;
    }

    .case-thumbnail {
        position: relative;
        height: 190px;
        overflow: hidden;

        &.inactive-case::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-body {
        padding: 1rem;

        .card-title {
            font-size: 1.25rem;
            font-weight: bold;
        }

        .card-text {
            font-size: 1rem;
            color: $czm-gray;
        }

        .raised-text {
            margin-top: 30px;
            color: $czm-gray;
            font-size: 12px;
        }

        .progress {
            background-color: #e9ecef;
            border-radius: 0;
            .progress-bar {
                background-color: $czm-secondary;
                font-size: 0.75rem;
                font-family: $font-family-base;
                text-align: right;
            }
        }

        p {
            margin-bottom: 0.5rem;
            &.mt-2 {
                margin-top: 0.5rem;
            }
            &.color{
                color: $czm-gray;
            }
        }

        .amount-sec {
            p {
                font-size: 16px;
            }

            p.due {
                color: #FF0000FF;
            }

            p.advanced {
                color: $czm-secondary;
            }
        }

        .font-weight-bold {
            font-weight: bold;
        }

        .small {
            font-size: 0.875rem;
            color: #6c757d;
        }
    }
    .bg-light {
        background-color: #f8f9fa;
    }

    .btn-primary {
        background-color: $czm-primary;
        border-color: $czm-primary;
        &:hover {
            background-color: darken($czm-primary, 5%);
            border-color: darken($czm-primary, 5%);
        }
    }

    .text-muted {
        color: #6c757d;
    }

    .font-weight-bold {
        font-weight: bold;
    }

    .btn-block {
        background-color: $czm-primary;
        color: white;
        display: block;
        width: 70%;
        border-radius: 0;
    }
}

.square-image {
    width: 173px;
    height: 173px;
    position: relative;
    overflow: hidden;
    @media (max-width: 767px) {
        width: 300px;
        margin: 10px auto auto;
    }
}
.square-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.czm-amount-counter{
    color: $czm-gray;
    font-size: 20px;
    @media (max-width: 767px) {
        font-size: 16px;
    }
}
