$font-family-base: "Poppins",sans-serif;

.title-text{
  margin-top: 35px;
  p{
    color: $admin-black;
    font-size: 15px;
    text-align: center;
  }
}

.donation-tabs.nav-pills {
    .nav-link {
        color: $czm-primary-dark;
        background-color: $czm-gray2;
        border-radius: 4px;
    }
    .nav-link.active {
        background-color: $czm-primary-dark;
        color: #ffffff;
    }
}

.donation-history-card.publication-card {
  margin: 30px;
    .image-div {
        height: 160px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

.donation-history-card{
  font-family: $font-family-base;
  border-radius: 0;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.01);
  }

  .case-thumbnail {
    position: relative;
    height: 190px;
    overflow: hidden;

    &.inactive-case::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-body {
    padding: 1rem;

    .card-title {
      font-size: 1.25rem;
      font-weight: bold;
    }

    .card-text {
      font-size: 1rem;
      color: $czm-gray;
    }

    .raised-text {
      margin-top: 30px;
      color: $czm-gray;
      font-size: 12px;
    }

    .progress {
      background-color: #e9ecef;
      border-radius: 0;
      .progress-bar {
        background-color: $czm-secondary;
        font-size: 0.75rem;
        font-family: $font-family-base;
        text-align: right;
      }
    }

    p {
      margin-bottom: 0.5rem;
      &.mt-2 {
        margin-top: 0.5rem;
      }
      &.color{
        color: $czm-gray;
      }
    }

    .amount-sec {
      p {
        font-size: 16px;
      }

      p.due {
        color: #FF0000FF;
      }

      p.advanced {
        color: $czm-secondary;
      }
    }

    .font-weight-bold {
      font-weight: bold;
    }

    .small {
      font-size: 0.875rem;
      color: #6c757d;
    }
  }
  .bg-light {
    background-color: #f8f9fa;
  }

  .btn-primary {
    background-color: $czm-primary;
    border-color: $czm-primary;
    &:hover {
      background-color: darken($czm-primary, 5%);
      border-color: darken($czm-primary, 5%);
    }
  }

  .text-muted {
    color: #6c757d;
  }

  .font-weight-bold {
    font-weight: bold;
  }

  .btn-block {
    background-color: $czm-primary;
    color: white;
    display: block;
    width: 70%;
    border-radius: 0;
  }
}
