@import "program";
@import "payment";
@import "terms";
@import "notice";
@import "campaign";
@import "zakatCalculator";
@import "donation_history";
@import "campaign_subscription_history";
@import "edit_user";
@import "videogallery";
@import "photo_gallery";
@import "content_detail";
@import "home";
@import "about_us";
@import "accountability";
@import "marketing_banner";
@import "job_post";
@import "job_details";
@import "contact_us";
@import "menu";
@import "governance";
@import "notification";
@import "publication";
