.job-listing {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;

  .fa-building, .fa-clock, .fa-location-dot, .fa-calendar-days, .fa-money-bill-wave{
    font-size: 1em;
    color: $job-list-icon;
    margin-right: 5px;
  }

  .job-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;


    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 20px;
      right: 20px;
      height: 5px;
      background-color: #4CAF50; // Adjust the color to match the design
      border-radius: 5px 5px 0 0;
    }

    h2.job-title {
      color: $czm-primary;
      font-size: 24px;
      font-weight: bold;
      margin-top: 10px; // Adjust space to match the design
    }

    .job-description {
      color: #666666;
      font-size: 14px;
      margin: 0px 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    a.read-more {
      color: #007bff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    .job-title{
      color: $czm-primary
    }

    .job-details {
      display: flex;
      flex-wrap: wrap;
      font-size: 14px;
      color: #666666;
      margin-bottom: 20px; // Adjust space to match the design

      .detail-icon {
        color: #4CAF50; // Adjust the color to match the design
      }

      span.job-detail {
        display: flex;
        align-items: center;
        margin-right: 15px;
        margin-bottom: 5px;

        i {
          font-size: 1.2em; // Adjust the size to match the design
        }
      }
    }

    a.apply-now {
      display: inline-block;
      text-align: center;
      background-color: #4CAF50; // Adjust the color to match the design
      color: #fff;
      text-decoration: none;
      padding: 10px 30px;
      border-radius: 5px;
      font-weight: bold;
      &:hover {
        background-color: darken(#4CAF50, 10%);
      }
    }
    @media (max-width: 767px) {
      .apply-now {
        margin-top: 10px;
        margin-left: 10px;
      }
    }
  }
}
