.individual-job {
  margin-top: 5rem;
  .job-title{
    color: $czm-primary;
  }
  .fa-building, .fa-clock, .fa-location-dot, .fa-calendar-days, .fa-money-bill-wave{
    font-size: 1em;
    color: $job-list-icon;
    margin-right: 5px;
  }

  h1.title {
    margin-bottom: 1.5rem;
    color: #333;
  }
  .card-body{
    background: #FFF;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  .details-content{
    background: #FFF;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }

  h2.card-title, h2 {
    color: #333;
    font-size: 1.75rem;
  }
  h5, h3 {
    color: #666;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
  p {
    color: #555;
    line-height: 1.5;
  }
  .input-container {
    margin-top: 1.5rem;
  }
  .form-group {
    margin-bottom: 1rem;
    label {
      display: block;
      color: #333;
      margin-bottom: 0.5rem;
    }
    input, textarea {
      width: 100%;
      padding: 0.75rem;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
      &:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    }
    textarea {
      resize: vertical;
    }
  }
  .btn-file-upload {
    display: inline-block;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    &:hover {
      background-color: #e8e8e8;
    }
  }
  .btn-submit {
    background-color: #0056b3;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 100%;
    &:hover {
      background-color: #004494;
    }
  }
  .sidebar {
    position: sticky;
    margin-top: 2rem;
    padding: 1rem;
    background: #f7f7f7;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    .company-info, .detail {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      i {
        font-size: 1.25rem;
        color: #007bff;
      }
      span {
        margin-left: 0.5rem;
        color: #555;
      }
    }
  }
}
