$font-family-base: "Poppins",sans-serif;

.card.notice-card {
  font-family: $font-family-base;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.01);
  }

  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: $font-family-base;
  }

  .card-text {
    font-size: 1rem;
    color: $czm-gray;
  }

  .btn-block {
    background-color: $czm-primary;
    color: white;
    display: block;
    height: 40px;
    width: 100px;
    border-radius: 0;
  }
}

.d-none {
  display: none;
}
