$font-family: "Poppins", sans-serif;

.banner {
    background-color: #eee;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 24px;

    img {
        width: 100%;
        height: 550px;
        object-fit: cover;
        object-position: center;

        @media (max-width: 1200px) {
            height: 500px;
        }

        @media (max-width: 768px) {
            height: 200px;
        }
    }

    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }
    .text-container{
        position: absolute;
        left: 60px;
        top: 150px;
        z-index: 5;

        @media (max-width: 1200px) {
            left: 30px;
            top: 150px;
        }

        @media (max-width: 768px) {
            left: 20px;
            top: 50px;
        }
    }

    h1.title {
        color: #FFF;
        font-family: $font-family;
        font-size: 70px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 15px;
        @media (max-width: 1200px) {
            font-size: 40px;
        }

        @media (max-width: 768px) {
            font-size: 30px;
        }
    }
    p {
        color: #FFF;
        font-family: $font-family;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media (max-width: 1200px) {
            font-size: 20px;
        }

        @media (max-width: 768px) {
            font-size: 10px;
        }
    }
}

.nisab-card {
    border-radius: 4px;
    background: $czm-primary;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: auto;
    flex-shrink: 0;

    .card-header {
        border: none;
        color: #FFF;
        text-align: center;
        font-family: $font-family;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 30px;
        display: flex;
        justify-content: center;

        h5.nisab-title {
            background-color: $czm-secondary;
            padding: 6px 8px 6px 8px;
            width: 200px;
            text-align: center;
            border-radius: 4px;
        }
    }

    .nisab-card-body {
        padding: 15px 15px 0 15px;
        line-height: 1.5;
        width: 100%;

        p {
            display: flex;
            width: 100%;
            flex-direction: column;
            flex-shrink: 0;
            color: #FFF;
            font-family: $font-family;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .price-info {
            h6 {
                margin-top: 10px;
                color: #FFF;
                font-family: $font-family;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            p {
                display: flex;
                width: 100%;
                height: 32px;
                align-items: start;
                color: #FFF;
                font-family: $font-family;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .price {
                margin: 5px 0;
                color: #FFF;
                font-family: $font-family;
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }

    .card-footer {
        border: none;
        color: #FFF;
        text-align: center;
        font-family: $font-family;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 0;

        h5 {
            padding-top: 30px;
        }

        .faq-btn {
            padding: 12px 38px;
        }
    }
}

.tabs-container {
    .tabs{
        .tab-item{
            width: 100%;
            .nav-link {
                color: #000;
                background-color: #f8f9fa;
                padding: 10px 15px;
            }
            .nav-link.active {
                background-color: $czm-primary;
                color: #ffffff;
                border-radius: 4px;
            }
        }
        margin-bottom: 5px;
        width: 100%;
        text-align: center;
        li.tab-item{
            display: inline-block;
            cursor: pointer;
            margin-right: -1px;
            background-color: #f8f9fa;
            width: 50%;
            border-radius: 8px;
            border: 2px solid rgba(102, 102, 102, 0.20);
            box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.05);
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
        }
    }

    .tab-content-item{
        width: 100%;
        border-radius: 8px;
        border: 2px solid rgba(102, 102, 102, 0.20);
        background: #FFF;
        box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.05);
    }

    .title{
        color: #000;
        font-family: $font-family;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #lunar, #english, #gold, #silver {
        display: block;
    }

    .tab-label {
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
        margin-right: -1px;
        background-color: #f8f9fa;
        width: 50%;
        border-radius: 4px;
        border: 2px solid;
        box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.05);
        &:hover {
            background-color: darken(#f8f9fa, 5%);
        }
    }
}

.form-section {
    font-family: $font-family;
    background-color: #fff;
    padding: 1em;
    border-radius: 0.25rem;

    .icon{
        height: 30px;
    }

    .alert-text {
        font-size: 14px;
        font-style: italic;
        color: red;
    }

    h2 {
        color: #252525;
        font-family: $font-family;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 8px;
    }

    .section-subtitle{
        color: #000;
        font-family: $font-family;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .subtitle{
        color: #000;
        font-family: $font-family;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 30px;
        margin-bottom: 10px;
        width: 100%;
        display: flex;
    }

    p {
        font-size: 0.9rem;
        color: #495057;
        margin-bottom: 1em;
    }

    .input-container {
        width: 100%;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;

        label {
            color: #525252;
            font-family: $font-family;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-top: 8px;
        }
        .row {
            width: 100%;
        }
    }

    .radio-button-section {
        margin-top: 1em;
        color: #000;
        font-family: $font-family;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        .button-section{
            display: flex;
            padding-right: 45px;
            align-items: center;
            gap: 14px;
            color: #525252;

            input[type="radio"]{
                display: block;
                height: 20px;
                width: 20px;
            }
        }

    }
}

.calculate-btn {
    display: inline-flex;
    padding: 16px 43px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #34A853;
    margin-bottom: 25px;
    color: white;
    border: none;
    &:hover {
        background-color: darken(#34A853, 10%);
    }

    @media (max-width: 1200px) {
        padding: 16px 34px;
    }

    @media (max-width: 1024px) {
        padding: 16px 34px;
    }

    @media (max-width: 768px) {
        padding: 16px 34px;
    }
}

.calculate-btn.export-payment {
    padding: 10px 34px;
}

.faq-btn {
    padding: 16px 43px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #34A853;
    margin-bottom: 25px;
    color: white;
    border: none;
    margin-top: 10px;
    &:hover {
        background-color: darken(#34A853, 10%);
    }

    @media (max-width: 1200px) {
        font-size: 14px;
        padding: 15px 15px;
    }

    @media (max-width: 768px) {
        padding: 15px 15px;
    }
}

.col-md-8.p-3, .col-md-4.p-3 {
    padding: 1em;
}

.results-card {
    width: 100%;
    background: #fff;
    margin-bottom: 1rem;
    margin-top: 10px;
    border-radius: 8px;
    border: 2px solid rgba(102, 102, 102, 0.20);
    background: #FFF;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.05);

    .card-body {
        padding: 1rem;

        .row {
            .col-md-6 {
                color: #000;
                font-family: $font-family;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                &:first-child {
                    text-align: left;
                }

                &:last-child {
                    text-align: right;
                }
            }
        }
    }

    .button-group {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
