.social-button-rectangle {
    #social-links ul {
        display: flex;
        gap: 16px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
    }
    #social-links ul li {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #social-links ul li a {
        width: 100%;
        font-size: 20px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 6px;
        color: #fff;

        span.fa-facebook-square::after {
            margin-left: 6px;
            content: "Facebook";
            color: #fff;
            font-size: 16px;
            letter-spacing: 1px;
            display: inline-block;
            font-family: "Open Sans", sans-serif;
        }
        span.fa-linkedin::after {
            margin-left: 6px;
            content: "LinkedIn";
            color: #fff;
            font-size: 16px;
            letter-spacing: 1px;
            display: inline-block;
            font-family: "Open Sans", sans-serif;
        }
        span.fa-whatsapp::after {
            margin-left: 6px;
            content: "WhatsApp";
            color: #fff;
            font-size: 16px;
            letter-spacing: 1px;
            display: inline-block;
            font-family: "Open Sans", sans-serif;
        }
    }

    @media (max-width: 430px) {
        #social-links ul {
            gap: 6px;
        }
        #social-links ul li a {
            font-size: 16px;
            span.fa-facebook-square::after,
            span.fa-linkedin::after,
            span.fa-whatsapp::after {
                font-size: 12px;
            }
        }
    }

    #social-links ul li a[href*="facebook"] {
        background-color: #395693;
    }

    #social-links ul li a[href*="linkedin"] {
        background-color: #0E72A3;
    }

    #social-links ul li a[href*="wa.me"] {
        background-color: #26CC64;
    }
}

.campaign-card-social-links {
    #social-links ul li {
        width: 100%;
        padding-bottom: 10px;
    }
    #social-links ul li a[href*="facebook"]:hover {
        span.fa-facebook-square::after {
            color: #395693;
        }
    }
    #social-links ul li a[href*="linkedin"]:hover {
        span.fa-linkedin::after {
            color: #0E72A3;
        }
    }
    #social-links ul li a[href*="wa.me"]:hover {
        span.fa-whatsapp::after {
            color: #26CC64;
        }
    }

    #social-links ul li a {
        span.fa-facebook-square::after {
            margin-left: 6px;
            content: "Share to Facebook";
            color: #000;
            font-size: 16px;
            letter-spacing: 1px;
            display: inline-block;
            font-family: "Open Sans", sans-serif;
        }
        span.fa-facebook-square::before {
            color: #395693;
        }

        span.fa-linkedin::after {
            margin-left: 6px;
            color: #000;
            content: "Share to LinkedIn";
            font-size: 16px;
            letter-spacing: 1px;
            display: inline-block;
            font-family: "Open Sans", sans-serif;
        }
        span.fa-linkedin::before {
            color: #0E72A3;
        }

        span.fa-whatsapp::after {
            margin-left: 6px;
            color: #000;
            content: "Share to WhatsApp";
            font-size: 16px;
            letter-spacing: 1px;
            display: inline-block;
            font-family: "Open Sans", sans-serif;
        }
        span.fa-whatsapp::before {
            color: #26CC64;
        }
    }
}

.campaign-card-copy-link {
     ul li {
         font-size: 16px;
         color: #000;
     }
    .copy-link-btn2 {
        margin-top: 4px;
        border: 2px solid #24408F;
        font-size: 14px;
    }
}

.social-share-with-link {
    display: flex;
    gap: 16px;
    padding-left: 0;
    padding-right: 6px;
    padding-top: 6px;
}

.copy-link-btn {
    background-color: #24408F;
    border-color: #24408F;
    border-radius: 50%;
    color: #ffffff;
    width: 34px;
    height: 34px;
    transition: all .3s ease;
}
.copy-link-btn:hover {
    width: 40px;
    height: 40px;
}

.social-button-circle {
    #social-links ul {
        display: flex;
        gap: 16px;
        padding-left: 0;
    }
    #social-links ul li {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #social-links ul li a {
        font-size: 20px;
        color: #fff;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: all .3s ease;
    }
    #social-links ul li a:hover {
        width: 40px;
        height: 40px;
    }

    #social-links ul li a[href*="facebook"] {
        background-color: #395693;
    }

    #social-links ul li a[href*="linkedin"] {
        background-color: #0E72A3;
    }

    #social-links ul li a[href*="wa.me"] {
        background-color: #26CC64;
    }
}

.campaign-share-modal {
    .modal-header {
        text-align: center;
    }
    .modal-title {
        color: $czm-primary-dark;
        font-weight: 600;
    }
}
