// CZM Colors
$czm-primary: #24408F;
$czm-secondary: #40ae49;
$czm-secondary-light: #40ae49;
$czm-gray: #8b8b8b;
$czm-gray2: #eeeeee;
$czm-gray3: #D8D8D8;
$czm-primary-dark: #24408F;
$czm-dark: #24408F;
$czm-bright-cyan:#25bada;
$czm-vivid-cyan:#0ebfe5;
$czm-pure-red:rgba(255,0,0,.2);

$admin-black: #212529;
$admin-gray1: #ddd;
$admin-gray2: #DEDEDE;
$admin-blue: #3689E1;
$admin-green: #64BB66;
$job-list-icon: #5353f3;
$icon-color: #ddd;
$youtube-icon: #fa0303;
